/* Global styles */
body {
  font-family: 'Lato', sans-serif;
  color: navy;
  text-align: center;
  margin: 0;
  padding: 0 30px;
  background-color: #fdfdd0;
}

h1 {
  font-family: 'Bitter', serif;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
}

h2 {
  font-family: 'Bitter', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  margin-top: 0;
}

p {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 16px;
  line-height: 1.6;
  margin: 0 auto;
}
.spacer {
  height: 200px; 
}
/* Navigation style for home page */
nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-button {
  text-decoration: none;
  color: navy;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
}

nav a:hover {
  color: #dfb3d7;
  text-decoration: underline;
  padding: 5px 10px;
  border-radius: 5px;
}

/* navigation style for projects page */
.nav-2 {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.nav-2 img {
  display: center;
  width: 200px;
  height: auto;
  transform: 0.3s ease-in-out;
}

.nav-2 img:hover {
  transform: scale(1.05);
}
/* Gallery styles */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.gallery img {
  width: 100%;
  height: auto;
  border-radius: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.gallery img:hover {
  transform: scale(1.05);
}

/*about me page*/
/* timeline styles */
.timeline {
  border-left: 3px solid #333;
  margin-left: 20px;
  padding-left: 20px;
}

.event {
  position: relative;
  margin-bottom: 20px;
}

.event::before {
  content: "";
  position: absolute;
  left: -12px;
  top: 5px;
  width: 12px;
  height: 12px;
  background-color: #333;
  border-radius: 50%;
}

.date {
  font-weight: bold;
  margin-bottom: 5px;
}

.content {
  padding-left: 10px;
}

/*images */
.image_row {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.image_row img {
  width: 250px;
  height: auto;
  border-radius: 0;
}

/* Staggering effect */
.image_row img:nth-child(odd) {
  margin-top: 50px;
}

.image_row img:nth-child(even) {
  margin-top: 0;
}


@media (max-width: 400px) {
  .image_row {
    flex-direction: column;
    align-items: center;
  }

  .image_row img {
    max-width: 80%;
  }
}
